<div class="container__big-card">
  <div class="big-card___photo">
    <img src="https://i.stack.imgur.com/luaq2.png" alt="" srcset="" height="200px">

  </div>
  <div class="big-card___title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>
  <div class="big-card___description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id turpis vel nisl commodo scelerisque sed sed
      velit.
      Pellentesque efficitur, erat et mollis venenatis, sem justo vulputate dolor.
    </p>

  </div>
</div>
