.container__big-card {
  border: solid white 2px;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card___title>h1 {
  font-size: 20px;
  margin-top: 15px;
}

.big-card___description>p {
  color: grey;
  margin-top: 10px;
}
