<div class="container__big-card">
  <div class="big-card___photo">
    <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt="" srcset="" height="200px">

  </div>
  <div class="big-card___title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card___description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id turpis vel nisl commodo scelerisque sed sed
        velit.
        Pellentesque efficitur, erat et mollis venenatis, sem justo vulputate dolor.
      </a>
    </p>

  </div>
</div>
